body, html {
    margin: 0;
    padding: 0;
    font-family: 'Golos UI Regular', sans-serif;
    background-color: #ffffff;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    gap: 107px;
}

.page__title {
    width: auto;
}

.title__text {
    letter-spacing: -1.5px;
    font: 700 140px/30px 'Golos ui bold', sans-serif;
    position: relative;
    z-index: 1;
    margin: 0px; 
}

.title__image {
    display: block;
    width: 462px;
    height: 501px;
    padding-left: 90px;
}

.page__login {
    width: 343px;
}

.login__text {
    display: block;
    letter-spacing: -0.15px;
    font: 15px/18px 'golos ui regular', sans-serif;
    margin-bottom: 5px;
}

.login__text-help {
    letter-spacing: -0.08px;
    color: #808080;
    font: 13px/16px 'golos ui regular', sans-serif;
    margin: 5px 0 16px;
}

.login__input-wrapper {
    position: relative;
}

.login__input {
    width: 100%;
    height: 44px;
    border-radius: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding-right: 40px;
    border: none;
    background-color: #F2F3F5; 
    padding-left: 16px; 
    font-size: 14px;
}

.login__image-eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.login__button {
    margin-top: 32px;
    width: 100%;
    height: 48px;
    color: white;
    background-color: #000000;
    font: 500 16px/1 'golos ui medium', sans-serif;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer; 
}
