body, html {
    margin: 0;
    padding: 0;
    background-color: #fff; 
    font: 400 15px/18px 'Golos UI Regular', sans-serif;
    letter-spacing: -0.15px;
}

.page {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 72px 1fr;
}

.page__menu {
    padding-top: 48px;
    display: grid;
    grid-auto-rows: max-content; 
    justify-items: center; 
    gap: 16px; 
    border-right: 1px solid #2222220D;          
}

.menu__image-service {
    width: 24px;
    height: 24px;
    display: block;
    padding: 8px;
}

.menu__image-service-target {
    width: 40px;
    height: 40px;
    display: block;
}

.page__main-content {
    display: grid;
    justify-content: center; 
    padding-top: 73px; 
}

.main-content__profile {
    display: grid;
    align-content: start; 
}

.profile__info {
    display: grid;
    grid-template-rows: 143px 32px; 
    align-items: center; 
}

.info__image-avatar {
    width: 123px;
    height: 123px;
    border-radius: 16px;
    margin: auto;
}

.info__text-name {
    text-align: center;
    letter-spacing: -0.25px;
    font: 500 32px/32px 'Golos UI Medium', sans-serif;
}

.profile__about {
    width: 361px;
    margin: auto;
    text-align: center;
}

.info__image-post {
    width: 18x;
    height: 18px;
}

.profile__statistic {
    width: 101px;
    margin: auto;
    height: 30px;
    border-radius: 6px;
    background-color: #F2F3F5;
    margin-bottom: 42px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.profile__content {
    display: grid;
    grid-template-columns: repeat(3, 322px);
    gap: 3px; 
}

.content__post-item {
    width: 322px;
    height: 322px;
}

.content__image-photo {
    width: 322px;
    height: 322px;
    object-fit: cover; 
    display: block;
}
