body, html {
    margin: 0;
    padding: 0;
    font-family: 'Golos UI Regular', sans-serif;
    background-color: #fff; 
}

.page {
    display: flex; 
    flex-direction: row; 
    height: 100%; 
}

.page__menu {
    flex-shrink: 0;
    padding: 20px;
    border-right: 1px solid #ddd;
    background-color: #fff;
}

.menu__image-service {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 15px; 
}

.page__main-content {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;    
    padding: 20px;
    align-items: center;
}   

.main-content__user {
    height: 100%;
    justify-items: center;
}

.user__info {
    height: 15%;
    justify-items: center;
    align-items: center;
    padding: 12px 16px;
}

.info__image-avatar {
    display: flex;
    align-items: center;
    width: 123px;
    height: 123px;
    border-radius: 16px;
    margin: 0px 0px 0px 0px;
}

.info__image-posts {
    width: 16x;
    height: 16px;
}

.info__text {
    letter-spacing: -0.15px;
    font: 15px/18px 'Golos UI Regylar', sans-serif;
    width: 361px;
    height: 36px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.info__number-of-posts {
    width: 101px;
    height: 30px;
    text-align: center;
    border-radius: 6px;
    background-color: #F2F3F5;
    letter-spacing: -0.15px;
    font: 15px/18px 'Golos UI Regylar', sans-serif;
    margin-top: 12px;
    margin-bottom: 42px;
}

.info__text-avatar {
    letter-spacing: -0.25px;
    font-style: Medium;
    font: 500 32px/32px 'Golos UI Medium', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

.user__content {
    width: 980px;
    height: 100%;
}

.content__image {
    width: 322px;
    height: 322px;
}