.page {
    width: 100%;
    height: 100%;
}

.menu {
    width: 10%;
    height: 100%;
}

.main_content {
    width: 90%;
    height: 100%;
}

.posts {
    height: 100%;
    width: 474px;
}

.info_post {
    height: 32px;
    width: 474px;
}

.image {
    width: 474px;
    height: 474px;
}

.image_service{
    width: 40px;
    height: 40px;
    display: block;
}

.image_service_edit{
    width: 24px;
    height: 24px;
    display: inline;
}

.image_avatar{
    width: 32px;
    height: 32px;
    border-radius: 6px;
    display: inline;
}

.image_reaction{
    width: 16px;
    height: 16px;
}

.reaction {
    width: 68px;
    height: 30px;
    border-radius: 8px;
    background: #2222220D;
    font-style: Regular;
    letter-spacing: -0.15px;
    font: 15px/18px Golos UI, sans-serif;
}

.text {
    font-style: Regular;
    letter-spacing: -0.15px;
    font: 15px/18px Golos UI, sans-serif;
}

.text_avatar {
    font-style: Regular;
    letter-spacing: -0.15px;
    font: 500 14px/18px Golos UI, sans-serif;
    display: inline;
}

.number_of_photo {
    width: 44px;
    height: 24px;
    border-radius: 20px;
    background: #22222280;
    font-family: Golos UI;
    font-style: Regular;
    letter-spacing: -0.15px;
    font: 15px/18px Golos UI, sans-serif;
    text-align: center;
    color: #FFFFFF;
}

.text_continuation {
    font-style: Regular;
    letter-spacing: -0.15px;
    font: 15px/18px Golos UI, sans-serif;
    color: #808080;

}

.text_time {
    font-style: Regular;
    letter-spacing: -0.15px;
    font: 14px/18px Golos UI, sans-serif;
    color: #22222280;
}