.title {
    font-style: Bold;
    letter-spacing: -1.5px;
    font: 700 140px/180px Golos UI, sans-serif;
}

.text {
    font-style: Regular;
    letter-spacing: -0.15px;
    font: 15px/18px Golos UI, sans-serif;
}

.text_help{
    font-style: Regular;
    letter-spacing: -0.08px;
    color: #808080;
    font: 13px/16px Golos UI, sans-serif;
}

.image {
    width: 462px;
    height: 501px;
}

.image_eye {
    width: 22px;
    height: 22px;
}

.input {
    width: 343px;
    height: 44px;
    border-radius: 10px;
}

.button {
    width: 343px;
    height: 48px;
    color: white;
    background-color: #000000;
    font: 500 16px/1 Golos UI, sans-serif;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    text-align: center;
}