.page {
    width: 100%;
    height: 100%;
}

.page__menu {
    width: 10%;
    height: 100%;
}

.menu__image-service {
    width: 40px;
    height: 40px;
    display: block;
}

.page__main-content {
    width: 90%;
    height: 100%;
}

.main-content__user {
    height: 100%;
}

.user__info {
    height: 329px;
}

.info__image-avatar {
    width: 123px;
    height: 123px;
    border-radius: 16px;
}

.info__image-posts {
    width: 16x;
    height: 16px;
}

.info__text {
    font-style: Regular;
    letter-spacing: -0.15px;
    font: 15px/18px Golos UI, sans-serif;
    width: 361px;
    height: 36px;
    text-align: center;
}

.info__number-of-posts {
    width: 101px;
    height: 30px;
    text-align: center;
    border-radius: 6px;
    background-color: #F2F3F5;
    font-style: Regular;
    letter-spacing: -0.15px;
    font: 15px/18px Golos UI, sans-serif;
}

.info__text-avatar {
    letter-spacing: -0.25px;
    font-style: Medium;
    font: 500 32px/32px Golos UI, sans-serif;
}

.user__content {
    width: 980px;
    height: 100%;
}

.content__image {
    width: 322.35px;
    height: 322.35px;
}