body, html {
    margin: 0;
    padding: 0;
    font-family: 'Golos UI Regular', sans-serif;
    background-color: #fff; 
}

.page {
    display: flex; 
    flex-direction: row; 
    min-height: 100%; 
}

.page__menu {
    flex-shrink: 0;
    padding: 16px;
    padding-top: 48px;
    background-color: #fff;
    position: fixed;
    height: 100%;
    border-right: 1px solid #2222220D;
}

.menu__image-service {
    width: 24px;
    height: 24px;
    display: block;
    margin-bottom: 16px; 
    padding: 8px;
}

.menu__image-service-target {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 16px;
}

.page__main-content {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
    margin-top: 73px;   
    align-items: center;
}

.post-preview, .main-content__post {
    width: 474px; 
    margin-bottom: 20px; 
}

.image-container__link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.post-preview__info, .post__info {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.info__user {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.user__avatar {
    width: 32px;
    height: 32px;
    border-radius: 10%;
}

.user__author {
    font: 500 14px 'Golos UI Medium', sans-serif;
    color: #000;
    text-decoration: none;
}

.user__edit-icon {
    width: 24px;
    height: 24px;
    opacity: 0.7;
}

.content__image-container {
    position: relative; 
    width: 100%;
}

.image-container__image {
    width: 100%;
    height: 100%;
    display: flex;
}

.image-container__image-counter {
    position: absolute; 
    top: 10px;
    right: 10px;
    padding: 4px 10px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
}

.content__footer {
    font: 15px/18px 'golos ui regular', sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding-top: 16px;
}

.actions__reaction, .actions__reaction-active {
    display: flex;
    align-items: center;
    gap: 2px; 
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 16px;
    border: 1px solid transparent;
}

.reaction__number {
    font: 15px/18px 'golos ui regular', sans-serif;
    margin: 0;
}

.actions__reaction {
    background: #f0f2f5;
}

.actions__reaction-active {
    color: #d32f2f;
    border-color: rgba(255, 0, 0, 0.2);
    background: rgba(239, 83, 83, 0.1);
}

.reaction__image {
    width: 16px;
    height: 16px;
}

.image-container__slider-right {
    top: 221px;
    left: 438px;
    background: #FFFFFF99;
}

.image-container__slider-left {
    top: 223.67px;
    left: 16px;
    background: #FFFFFF1A;
}

.image-container__slider-right, .image-container__slider-left {
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 0px;
    border-radius: 999px;
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__image {
    width: 10px;
    height: 10px;
}

.footer__text {
    margin: 0;
    padding-bottom: 8px;
    font: 15px/18px 'golos ui regular', sans-serif;
    letter-spacing: -0.15px;
}

.text__more-link {
    color: #808080;
    text-decoration: none;
}

.footer__time {
    font-size: 14px;
    color: #808080;
}